Options -Indexes
RewriteEngine On

# Set base for URL rewriting
RewriteBase /

# Handle Front Controller pattern
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]